* {
  box-sizing: border-box;
}

/* Navbar */
nav {
  background-color: #F1F3FF;
}

nav li .nav-link {
  color: black !important;
}

.navbar-brand img {
  height: 50px;
}
/* End Navbar */

/* Hero */
.hero-section {
  background-color: #F1F3FF;
  padding-top: 100px;
}

.hero-section .atas {
  padding-top: 80px;
}

.hero-section p {
  margin-top: 16px;
  font-size: 14px;
}

.hero-section img {
  width: 673px;
}
/* End Hero */

/* Service */
.service {
  padding-top: 104px;
  background-color: #E5E5E5;
}

.service h3 {
  margin-bottom: 24px;
}

.service p {
  margin-bottom: 16px;
}

.service li {
  list-style-image: url('/public/images/ceklis.png');
  margin-bottom: 16px;
}
/* End Service */

/* WhyUs */
.why-us {
  padding: 100px 0px;
  background-color: #E5E5E5;
}

.why-us p {
  margin-bottom: 40px;
}

.card-border {
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  margin: 0px 10px;
  width: 260px !important;
}

.card-border img, .card-border h6 {
  margin-bottom: 16px;
}
/* End WhyUs */

/* GettingStarted */
.getting-started {
  padding: 100px 0px;
  background-color: #E5E5E5;
}

.kolom-sewa {
  background-color: #0D28A6;
  width: 1168px;
  height: 326px;
}

.kolom-sewa .text {
  padding: 64px 277px;
}

.kolom-sewa h2 {
  margin-bottom: 16px;
}

.kolom-sewa p {
  margin-bottom: 52px;
}

.kolom-sewa h2, .kolom-sewa p {
  color: white;
}
/* End GettingStarted */

/* Faq */
.faq {
  padding: 100px 0px;
  background-color: #E5E5E5;
}

.faq button {
  width: 600px;
  height: 56px;
  border: 1px solid #D4D4D4;
}
/* End Faq */

/* Footer */
footer {
  padding: 100px 0px;
}

footer p {
  margin-bottom: 16px;
}

footer li {
  list-style-type: none;
  border: none !important;
  margin-right: 10px;
  background: none;
}

footer .img-list img{
  margin-right: 7px !important;
}

footer .footer-logo {
  height: 150px;
}
/* End Footer */

/* Search */
.cars-service {
  height: fit-content;
  margin: 0 auto;
  position: relative;
  width: 75%;
}

.cars-avail {
  height: auto;
  padding-top: 100px !important;
}

.card {
  box-sizing: border-box !important;
  padding: 18px !important;
  width: 100%;
}

.card>img {
  display: block;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  overflow: hidden;
  width: 90%;
}

.cars-form {
  box-shadow: var(--shadowHigh) !important;
  box-sizing: border-box;
  left: 50%;
  padding: 15px !important;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%) !important;
  width: 100%;
  z-index: 10;
}

.form-item {
  width: 22% !important;
}

.form-item:last-child {
  width: 12% !important;
}

.btn-submit {
  background: var(--limeGreen03);
  color: var(--neutral01);
  width: 100%;
}

.btn-submit:hover {
  background: var(--limeGreen04);
  color: var(--neutral01);
}

input:active,
input:focus {
  border-color: var(--limeGreen03) !important;
  box-shadow: none !important;
  outline: 0px !important;
}

.input-group {
  position: relative !important;
}

.input-option {
  bottom: -100px;
  box-shadow: var(--shadowHigh);
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.input-item:hover,
.waktu-item:hover {
  background: var(--limeGreen03);
  cursor: pointer;
}

.form-active {
  display: block;
}

.inp-arr {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 0.2s ease;
}

.waktu-form {
  bottom: -305px;
  height: 300px !important;
  overflow-y: scroll;
}

.waktu-form::-webkit-scrollbar {
  width: 10px;
}

.waktu-form::-webkit-scrollbar-track {
  background: var(--limeGreen02);
}

.waktu-form::-webkit-scrollbar-thumb {
  background: var(--limeGreen04);
  border-radius: 10px;
  width: 10px;
}

.clock,
.inp-psg,
.inp-cal {
  cursor: pointer;
  transition: 0.2s ease;
}

/* End Search */



/* Responsive */
@media screen and (max-width: 768px) {

  /* Main Section */
  .hero-section {
      padding-top: 10px;
  }

  .hero-section h2 {
      font-size: 36px;
      line-height: 54px;
  }

  .hero-section img {
      width: 350px;
      padding-top: 50px;
  }

  .service img {
      width: 250px;
      margin-left: 25px;
      margin-bottom: 40px;
  }

  .service h3,
  .getting-started h2 {
      margin-bottom: 24px;
      line-height: 36px;
  }

  /* Why Us */
  .why-us h3,
  .why-us p {
      text-align: center;
  }

  .why-us .row {
      padding-left: 10px;
  }

  .why-us .card-border {
      margin: 0px 10px;
      width: 325px;
  }

  .why-us .row img {
      padding-top: 20px;
  }

  .why-us .row p {
      text-align: left;
  }

  /* Getting Started */
  .getting-started {
      padding: 10px 0px;
  }

  .kolom-sewa {
      background-color: #0D28A6;
      width: 350px;
      height: auto;
      border-radius: 10px;
  }

  .kolom-sewa .text {
      padding: 20px 20px;
  }

  /* FAQ */
  .faq button {
      width: 100%;
      height: auto;
      border: 1px solid #D4D4D4;
      margin-bottom: 10px;
  }

  /* Footer */
  footer,
  .faq {
      padding-top: 60px;
  }

  footer .row {
      text-align: left;
  }

  footer ul {
      list-style-type: none;
      border: none !important;
      margin-right: 10px;
      background: none;
      padding-left: 0 !important;
  }
}
/* End Responsive */